#header {
    box-shadow: 1px 1px 4px rgb(0 0 0 / 10%);
}

#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

#header .container .header-logo a {
    text-decoration: none;
    color: #0d6efd;
    font-size: 20px;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    -webkit-background-clip: text;
}

#header .container .nav {
    display: flex;
    list-style-type: none;
}

.container > .nav > li {
    padding: 0 10px;
    margin-left: 5px;
}

.container .nav  > li:hover > a {
    color: aqua;
}

.nav > li > a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
}

.nav > li {
    position: relative;
}

.nav > li > a { 
    line-height: 70px;
}

.nav .subnav {
    display: none;
    position: absolute;
    width: 200px;
    box-shadow: 0 5px 20px 5px #8490ff33;
    list-style: none;
    padding: 10px;
    right: 0;
    background: #ffffff;
    animation: fadeIn linear .3s;
    will-change: opacity;
}

.nav li i {
    font-size: 12px;
}

.nav > li:hover > i {
    color: aqua;
    cursor: pointer;
}

.nav li .subnav a:hover {
    color: aqua;
}

.nav .subnav > li {
    display: block;
    padding: 5px 10px;
}

.subnav li a {
    text-decoration: none;
    color: #000;
}   

.nav li:hover .subnav {
    display: block;
}

.nav li .subnav {
    color: aqua;
}

.nav .subnav > li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subnav > li a i {
    font-size: 12px;
}

.subnav > li {
    position: relative;
}

.subnav > li .thirdnav {
    display: none;
    position: absolute;
    width: 200px;
    box-shadow: 0 5px 20px 5px #8490ff33;
    list-style: none;
    padding: 10px;
    left:-210px;
    top: 5px;
    background: #ffffff;
    animation: fadeIn linear .3s;
    will-change: opacity;
}

.subnav > li > a {
    display: block;
    line-height: 46px;
}

.subnav > li .thirdnav li {
    display: block;
    padding: 5px 10px;
}

.subnav > li:hover .thirdnav {
    display: block;
}

#banner .row {
    align-items: center;
    min-height: 300px;
}

#banner .row .demo {
    padding: 0 20px;
}

.row .demo h5 {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 5px;
}

.row .demo h1 {
    text-transform: uppercase;
    font-size: 60px;
    padding: 16px 0;
}

.row .demo p {
    font-size: 14px;
    margin-bottom: 16px;
    text-align: left;
    color: #777;
    font-weight: 500;
}

.row .demo a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding: 16px 30px;
    text-transform: uppercase;
    background-color: aqua;
    font-weight: 550;
}

.row .demo a:hover {
    box-shadow: 1px 1px 4px rgb(0 0 0 / 30%);
}

#about>.row {
    flex-direction: row-reverse;
}

#services>.row {
    flex-direction: column;
    align-items: center;
}

.row .title {
    text-align: center;
}

.row .title h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.row .title p {
    width: 682px;
    font-size: 14px;
    margin-bottom: 16px;
    color: #777;
    font-weight: 450;
}

#services .row .list-items {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row .list-items li {
    flex-basis: 33.33%;
    list-style-type: none;
    margin-bottom: 50px;
}

.row .list-items .item {
    text-align: center;
    padding: 0 15px;
}

.list-items .item i {
    font-size: 32px;
}

#services .list-items .item i:hover,
.list-items .item h2:hover {
    color: aqua;
}

.list-items .item h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0 20px 0;
}

#services .list-items .item p {
    font-size: 14px;
    color: #777;
    margin-bottom: 16px;
}

#clients .row {
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 120px 0;
}

.row .data .data-num {
    font-size: 36px;
    color: #fff;
    font-weight: bold;
}

.row .data .data-des {
    font-size: 14px;
    margin-bottom: 16px;
    color: #fff;
    font-weight: 500;
}

#portfolio .row {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-bottom: 120px;
}

.row .portfolio-title {
    padding: 0 15px 70px;
}

.row .portfolio-title h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.row .portfolio-title p {
    font-size: 14px;
    color: #777;
    margin-bottom: 16px;
}

.row .portfolio-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.row .portfolio-list li {
    padding: 10px 15px;
    position: relative;
}

.row .portfolio-list li::after {
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    background-color: #222;
    bottom: calc(0% + 5px);
    left: calc(0% + 15px);
    transition: all 0.5s;
}

.row .portfolio-list li:hover:after {
    cursor: pointer;
    width: 40%;
}

.portfolio-list li a {
    text-transform: uppercase;
    color: #000;
    font-size: 12px;
    text-decoration: none;
    font-weight: 500;
}

.portfolio-list li:hover a {
    color: aqua;
}

#portfolio .list-items {
    flex-direction: row;
    flex-wrap: wrap;
}

#portfolio .list-items li {
    flex-basis: 33.33%;
}

.row .item {
    border-radius: 5px;
    width: 100%;
    transition: all 0.5s ease 0s;
}


.row .item .portfolio-img {
    position: relative;
}

.item .portfolio-img .overlay-img {
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background: -webkit-linear-gradient(0deg,#8490ff 0%,#62bdfc 100%);
    border-radius: 5px;
    opacity: 0;
    transition: all .5s ease 0s;
}

.item .portfolio-img .portfolio-mid {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transform: translateX(10px);
    transition: all .5s ease 0s;
}

.portfolio-img .portfolio-mid .creative {
    position: absolute;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    overflow: hidden;
}

.item:hover .portfolio-mid {
    opacity: 1;
    transform: translateX(0px);
    cursor: pointer;
}

.portfolio-img .portfolio-mid .creative:hover {
    color: #fff;
    cursor: pointer;
}

.portfolio-mid .creative i {
    font-size: 18px;
    display: block;
    padding: 5px 0;
}

.portfolio-mid .creative p {
    font-size: 14px;
}

.item:hover .overlay-img {
    opacity: 0.8;
    width: 100%;
}


.item .portfolio-img img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px;
}


.item > p {
    font-size: 18px;
    color: #000;
    font-weight: bold;
    padding-top: 20px;
}


#feedback {
    background-color: #f9f9ff;
}

#feedback .row {
    flex-direction: column;
    padding: 120px 0;
}

#feedback .row .feedback-title {
    text-align: center;
    padding-bottom: 70px;
}

.row .feedback-title h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.row .feedback-title p {
    color: #777;
    font-size: 14px;
    font-weight: 480;
}

#feedback .row .feedback-list {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

.row .feedback-list li {
    margin-right: 15px;
    background-color: #fff;
    padding: 25px 30px;
}

.feedback-list li .feedback-author {
    display: flex;
}

.feedback-list .feedback-author img {
    max-width: 87px;
    height: 87px;
    border-radius: 50%;
    margin-right: 30px;
}

.feedback-author .feedback-des p {
    color: #777;
    margin-bottom: 16px;
    text-align: justify;
}

.feedback-author .feedback-des h4 {
    font-size: 18px;
    color: #000;
    margin-bottom: 5px;
}

.feedback-author .feedback-des h4:hover {
    color: aqua;
    cursor: pointer;
}

#pricing .row {
    flex-direction: column;
    padding-bottom: 120px;
}

#pricing .row .pricing-title {
    text-align: center;
    padding-bottom: 70px;
}

.row .pricing-title h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.row .pricing-title p {
    font-size: 14px;
    color: #777;
    margin-bottom: 16px;
}

#pricing .row .pricing-list {
    display: flex;
    justify-content: center;
    background-color: #f9f9ff;
}

.row .pricing-list li {
    flex-basis: 25%;
    text-align: center;
    list-style-type: none;
}

.pricing-list li .price-item {
    padding: 40px 15px;
    transition: all 0.5s;
} 

.price-item:hover {
    transform: scale(1.1);
    background-image: -webkit-linear-gradient(0deg ,#8490ff 0%,#62bdfc 100%);
}

.price-item .price-item-top {
    position: relative;
}

.price-item  .price-item-top h1 {
    display: flex;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background: #8490ff1a;
    border: 30px solid #0000021a;
    font-weight: 550;
    font-size: 36px;
}

.price-item .price-item-top h4 {
    font-size: 18px;
    margin: 20px 0 5px 0;
    font-weight: 550;
}

.price-item .price-item-top p {
    font-size: 14px;
    margin: 10px 0 16px 0;
    color: #777;
    font-weight: 500;
}

.price-item > p {
    color: #777;
    padding: 10px 0;
    border-top: 1px solid #eee;
}

.last {
    border-bottom: 1px solid #eee;
    margin-bottom: 40px;
}

.price-item .price-item-bottom a {
    display: none;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 50px;
}

.price-item:hover .price-item-bottom a {
    color: #000!important;
    background-color: #fff;
    display: block;
}

.price-item:hover .price-item-bottom h1 {
    display: none;
}

.price-item:hover .price-item-top h1, 
.price-item:hover .price-item-top h4,
.price-item:hover p,
.price-item:hover .price-item-bottom h1, 
.price-item:hover .price-item-bottom a {
    color: #fff;
} 

#blog {
    background-color: #f9f9ff;
    padding: 120px 0;
}

#blog .row {
    flex-direction: column;
}

#blog .row .blog-title {
    text-align: center;
    margin-bottom: 70px;
}

.row .blog-title h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.row .blog-title p {
    font-size: 14px;
    margin-bottom: 16px;
}

#blog .row .blog-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

.row .blog-list li {
    padding: 15px
}

.row li .blog-item {
    display: flex;
    flex-direction: column;
}

 li .blog-item img {
    max-width: 100%;
    height: 202px;
    border-radius: 5px;
}

.blog-list li .blog-mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.blog-mid a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.blog-mid a img {
    max-width: 30px;
    height: 30px;
}

.blog-mid a p {
    color: #000;
    margin-left: 10px;
    font-size: 14px;
}

.blog-mid .likes {
    display: flex;
    font-size: 14px;
    color: #777;
}

.blog-mid .likes span {
    margin-left: 10px;
}

.blog-item .blog-bottom h2 {
    font-size: 18px;
    margin-top: 35px;
}

.blog-item .blog-bottom p {
    font-size: 14px;
    color: #777;
    margin: 15px 0 45px;
    justify-content: center;
}

#pages .container{
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}

#contact {
    
    background-color: #04091e;
}

#contact .container {
    display: flex;
    justify-content: space-between;
    padding: 120px 0;
}

#contact .container .about-item {
    flex-basis: 40%;
}

#contact h3 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 25px;
}

#contact .about-item p {
    color: #777;
    font-size: 16px;
    margin-bottom: 16px;
    text-align: justify;
}

#contact .about-item span {
    color: #777;
    margin-bottom: 16px;
    text-align: justify;
}

.about-item span a {
    text-decoration: none;
    color: aqua;
}

#contact .container .newsletter-item {
    flex-basis: 40%;
}

.container .newsletter-item p {
    color: #777;
    margin-bottom: 16px;
}

.container .newsletter-item .input-contact {
    display: flex;
}

.newsletter-item .input-contact input {
    width: 80%;
    padding: 10px 10px 10px 20px;
    border: none;
}

.newsletter-item .input-contact button {
    color: #fff;
    border: none;
    background-color: #8490ff;
    width: 13%;
    font-weight: 500;
    font-size: 14px;
}

.newsletter-item .input-contact button:hover {
    cursor: pointer;
}

#contact .follow-item p {
    color: #777;
    margin-bottom: 16px;
}

.follow-item .icon i {
    color: #fff;
    font-size: 14px;
    padding: 5px;
}

.follow-item .icon i:hover {
    color: aqua;
    cursor: pointer;
}



